# Chapter 1

In [87]:
# schreibe 5 variablen mit unterschiedlichen Datentypen

In [10]:
a = 4

In [11]:
b = 5.2

In [12]:
c = 3+0j

In [13]:
d = "Text"

In [14]:
e = (3, 'socialism')

In [15]:
f = 3.7

In [16]:
g = 5

In [17]:
z = "Beispiel"

In [18]:
y = ["das", "ist"]
x = ["ein Beispiel"]

In [19]:
# Addiere zwei Variablen mit jeweils gleichen Datentypen

In [20]:
g+a

9

In [21]:
b+f

8.9

In [22]:
d + z

'TextBeispiel'

In [23]:
y + x

['das', 'ist', 'ein Beispiel']

In [24]:
# Subtrahiere zwei Variablen mit jeweils gleichen Datentypen

In [25]:
g-a

1

In [26]:
b-f

1.5

In [27]:
d - z

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [28]:
y - x

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [29]:
# Schreibe eine Liste und nimm das 2. und 4. Element der Liste, sowie das 2.-4.

In [30]:
h = [a, b, c, d, f]

In [31]:
print (h)

[4, 5.2, (3+0j), 'Text', 3.7]

In [32]:
print(h[1],h[3])

5.2 Text

In [33]:
print(h[1:4])

[5.2, (3+0j), 'Text']

In [35]:
h[2:4] = [2,3,4]
print(h)

[4, 5.2, 2, 3, 4, 4, 3.7]

In [106]:
# Verändere einen String

In [41]:
z[0] = "D"

TypeError: 'str' object does not support item assignment

In [107]:
## Veränderte Ausgabe

In [36]:
d.upper()

'TEXT'

In [37]:
## Veränderte Variable

In [38]:
d = "key"

In [39]:
print(d)

key

In [112]:
# Verändere (verlängere) eine Liste

In [113]:
h.append(42)

In [114]:
print(h)

[4, 5.2, (3+0j), 'Text', 3.7, 42]

In [115]:
# Verändere (verlängere) ein Tupel

In [116]:
k = ('one', 2.0, 3, 'four')

In [117]:
l = list(k)

In [118]:
l.append(5.0)

In [119]:
k = tuple(l)

In [120]:
print (k)

('one', 2.0, 3, 'four', 5.0)

# Chapter 2

In [172]:
# Iteriere über eine Liste und gebe jedes Element aus

In [173]:
a = ['one', 3, 4, 0.5, 'water', (5, 'text')]

In [174]:
for x in a:
    print(x)

one
3
4
0.5
water
(5, 'text')

In [175]:
# Iteriere über eine Liste und gebe nur Elemente aus die type String sind

In [176]:
for element in a:
    if type(element) == str:
        print(element)

one
water

In [177]:
# Iteriere über ein Tupel und gebe jedes Element aus

In [178]:
b = (5, 3.4, 'hello', 65, (4, 5))

In [179]:
for x in b:
    print(x)

5
3.4
hello
65
(4, 5)

In [180]:
# Iteriere über ein Tupel und gebe jedes Element sowie dessen Index aus

In [181]:
for element in b:
    print(element, "is no.",b.index(element))

5 is no. 0
3.4 is no. 1
hello is no. 2
65 is no. 3
(4, 5) is no. 4

In [198]:
for i, element in enumerate(b):
    print(i, element)

0 5
1 3.4
2 hello
3 65
4 (4, 5)

In [182]:
# Iteriere über die keys in einem dictionary

In [183]:
c = {
    "model": "NX-6",
    "incept date": "2015",
    "serial number": "NX6-409230RB",
    "name": "roy"
}

In [184]:
for key in c:
    print(key)

model
incept date
serial number
name

In [185]:
# Iteriere über eine Liste und gebe ein anderes Feedback für jeden Datentyp
# (mindestens drei unterschiedliche Datentypen)

In [204]:
print(a)
a.append(["i"])
print(a)

['one', 3, 4, 0.5, 'water', (5, 'text'), ['i]']]
['one', 3, 4, 0.5, 'water', (5, 'text'), ['i]'], ['i']]

In [203]:
for element in a:
    if type(element) == str:
        print("This is a string");
    elif type(element) == int:
        print("This is an integer");
    elif type(element) == float:
        print("This is a float");
    elif type(element) == tuple:
        print("This is a tuple")
    else:
        print("Type not found")

This is a string
This is an integer
This is an integer
This is a float
This is a string
This is a tuple
Type not found

In [187]:
# Iteriere über einen String

In [188]:
d = 'this is a string'

In [196]:
for element in d:
    print(element)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [194]:
# Iteriere über zwei Listen gleichzeitig

In [195]:
e = list(b)

In [197]:
for x, y in zip(a, e):
    print(x, "and", y)

one and 5
3 and 3.4
4 and hello
0.5 and 65
water and (4, 5)

# Chapter 3

In [301]:
# funktionen
def add_items(a, b):
    c = a + b
    return c

In [302]:
add_items(1, 2)

3

In [303]:
def add_items_short(a, b):
    e = 5
    b = b + e
    return a + b

In [304]:
add_items_short(1, 2)

8

In [305]:
def greeting():
    print("Hi")

In [306]:
greeting()

Hi

In [307]:
# schreibe eine Funktion die eine Liste als input argument nimmt 
# und alle elemente einzeln zurückgibt

In [325]:
def print_list_elements(a):
    for element in a:
        print(element)

In [326]:
print_list_elements(a)

one
3
4
0.5
water
(5, 'text')
['i]']
['i']

In [310]:
print_list_elements(e)

5
3.4
hello
65
(4, 5)

In [311]:
# Schreibe eine Funktion die ein integer mit 3 multipliziert - bis 10*3

In [331]:
def multiply_by_three (x):
    for n in range(1,11):
        print (x *3 *n)

In [332]:
multiply_by_three(4)

12
24
36
48
60
72
84
96
108
120

In [317]:
def multiply_by_x (y,x):
    for n in range(1,11):
        print (x *y *n)

In [318]:
multiply_by_x (8, 4)

32
64
96
128
160
192
224
256
288
320

In [314]:
# Schreibe eine Funktion die ein integer mit 3 multipliziert - bis 10*3
# und das Ergebnis als Liste zurück gibt

In [315]:
def multiply_by_three_list (x):
   print([x * 3 * n for n in range(1,11)])

In [316]:
multiply_by_three_list (5)

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]

In [ ]:
# tests/fragen

In [334]:
def multiply_by_three_test (x):
   print(x * 3 * n for n in range(1,11))

In [335]:
multiply_by_three_test (2)

<generator object multiply_by_three_test.<locals>.<genexpr> at 0x7f863846b660>