In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
import spacy

In [6]:
from spacy import displacy

In [7]:
from transformers import pipeline

In [8]:
import pprint

In [23]:
import cv2

In [54]:
import pybboxes as pbx

# Chapter 1

In [ ]:
# schreibe 5 variablen mit unterschiedlichen Datentypen

In [ ]:
a = 4

In [ ]:
b = 5.2

In [ ]:
c = 3+0j

In [ ]:
d = "Text"

In [ ]:
e = (3, 'socialism')

In [ ]:
f = 3.7

In [ ]:
g = 5

In [ ]:
z = "Beispiel"

In [ ]:
y = ["das", "ist"]
x = ["ein Beispiel"]

In [ ]:
# Addiere zwei Variablen mit jeweils gleichen Datentypen

In [ ]:
g+a

In [ ]:
b+f

In [ ]:
d + z

In [ ]:
y + x

In [ ]:
# Subtrahiere zwei Variablen mit jeweils gleichen Datentypen

In [ ]:
g-a

In [ ]:
b-f

In [ ]:
# Schreibe eine Liste und nimm das 2. und 4. Element der Liste, sowie das 2.-4.

In [ ]:
h = [a, b, c, d, f]

In [ ]:
print (h)

In [ ]:
print(h[1],h[3])

In [ ]:
print(h[1:4])

In [ ]:
h[2:4] = [2,3,4]
print(h)

In [ ]:
# Verändere einen String

In [ ]:
z[0] = "D"

In [ ]:
## Veränderte Ausgabe

In [ ]:
d.upper()

In [ ]:
## Veränderte Variable

In [ ]:
d = "key"

In [ ]:
print(d)

In [ ]:
# Verändere (verlängere) eine Liste

In [ ]:
h.append(42)

In [ ]:
print(h)

In [ ]:
# Verändere (verlängere) ein Tupel

In [ ]:
k = ('one', 2.0, 3, 'four')

In [ ]:
l = list(k)

In [ ]:
l.append(5.0)

In [ ]:
k = tuple(l)

In [ ]:
print (k)

# Chapter 2

In [ ]:
# Iteriere über eine Liste und gebe jedes Element aus

In [ ]:
a = ['one', 3, 4, 0.5, 'water', (5, 'text')]

In [ ]:
for x in a:
    print(x)

In [ ]:
# Iteriere über eine Liste und gebe nur Elemente aus die type String sind

In [ ]:
for element in a:
    if type(element) == str:
        print(element)

In [ ]:
# Iteriere über ein Tupel und gebe jedes Element aus

In [ ]:
b = (5, 3.4, 'hello', 65, (4, 5))

In [ ]:
for x in b:
    print(x)

In [ ]:
# Iteriere über ein Tupel und gebe jedes Element sowie dessen Index aus

In [ ]:
for element in b:
    print(element, "is no.",b.index(element))

In [ ]:
for i, element in enumerate(b):
    print(i, element)

In [ ]:
# Iteriere über die keys in einem dictionary

In [ ]:
c = {
    "model": "NX-6",
    "incept date": "2015",
    "serial number": "NX6-409230RB",
    "name": "roy"
}

In [ ]:
for key in c:
    print(key)

In [ ]:
# Iteriere über eine Liste und gebe ein anderes Feedback für jeden Datentyp
# (mindestens drei unterschiedliche Datentypen)

In [ ]:
print(a)
a.append(["i"])
print(a)

In [ ]:
for element in a:
    if type(element) == str:
        print("This is a string");
    elif type(element) == int:
        print("This is an integer");
    elif type(element) == float:
        print("This is a float");
    elif type(element) == tuple:
        print("This is a tuple")
    else:
        print("Type not found")

In [ ]:
# Iteriere über einen String

In [ ]:
d = 'this is a string'

In [ ]:
for element in d:
    print(element)

In [ ]:
# Iteriere über zwei Listen gleichzeitig

In [ ]:
e = list(b)

In [ ]:
for x, y in zip(a, e):
    print(x, "and", y)

# Chapter 3

In [ ]:
# funktionen
def add_items(a, b):
    c = a + b
    return c

In [ ]:
add_items(1, 2)

In [ ]:
def add_items_short(a, b):
    e = 5
    b = b + e
    return a + b

In [ ]:
add_items_short(1, 2)

In [ ]:
def greeting():
    print("Hi")

In [ ]:
greeting()

In [ ]:
# schreibe eine Funktion die eine Liste als input argument nimmt 
# und alle elemente einzeln zurückgibt

In [ ]:
def print_list_elements(a):
    for element in a:
        print(element)

In [ ]:
print_list_elements(a)

In [ ]:
print_list_elements(e)

In [ ]:
# Schreibe eine Funktion die ein integer mit 3 multipliziert - bis 10*3

In [ ]:
def multiply_by_three (x):
    for n in range(1,11):
        print (x *3 *n)

In [ ]:
multiply_by_three(4)

In [ ]:
def multiply_by_x (y,x):
    for n in range(1,11):
        print (x *y *n)

In [ ]:
multiply_by_x (8, 4)

In [ ]:
# Schreibe eine Funktion die ein integer mit 3 multipliziert - bis 10*3
# und das Ergebnis als Liste zurück gibt

In [ ]:
def multiply_by_three_list (x):
   return [x * 3 * n for n in range(1,11)]

In [ ]:
new_list = multiply_by_three_list (5)
print(new_list)

In [ ]:
# tests/fragen

In [ ]:
def multiply_by_three_test (x):
   print(x * 3 * n for n in range(1,11))

In [ ]:
multiply_by_three_test (2)

In [ ]:
def multiply_by_three_list_test (x):
   print([x * n for n in range(3,31,3)])

In [ ]:
multiply_by_three_list_test (5)

# Chapter 4

In [ ]:
# Öffne eine Datei mit Python und lese den Inhalt in eine Liste

In [ ]:
filename = "text.txt"

In [ ]:
with open(filename, "r") as f:
   list1 = f.readlines()

In [ ]:
print(list1)

In [ ]:
print(list1[1])

In [ ]:
# Schreibe eine Liste in eine Datei

In [ ]:
c_test = ["this", "is", "a", "text", "file"]

In [ ]:
with open("text2.txt", "w") as f:
    f.write(str(c_test))

In [ ]:
# plotte eine cos-Funktion

In [ ]:
print(np.cos(10))

In [ ]:
x = np.arange(0, 10, 0.1)
y = np.cos(x)

In [ ]:
plt.plot(x,y)
plt.xlim([0, 10])
plt.show()

In [ ]:
# Mache einen barplot von einer Liste

In [ ]:
c_test = [2, 5, 9, 1, 10, 7, 8, 5, 3.6, 7, 5.1]

In [ ]:
plt.bar(range(len(c_test)), c_test)
plt.show()

In [ ]:
# mache einen scatterplot einer liste

In [ ]:
plt.scatter(range(len(c_test)), c_test)
plt.show()

# Chapter 5

In [ ]:
# finde datensatz auf kaggle und lese ein als csv

In [ ]:
## datensatz aus: https://www.slavevoyages.org/voyage/database#results (1830; gefilterte columns)

In [ ]:
slaves = pd.read_csv("slaves_1835-1839.csv", index_col=1)

In [ ]:
slaves

In [ ]:
slaves.dtypes

In [ ]:
slaves.info()

In [ ]:
# Stelle wichtige Kolumnen graphisch dar (pyplot)

In [ ]:
disembarked = slaves["Total disembarked"]
plt.scatter(range(len(disembarked)), disembarked)
plt.show()

In [ ]:
embarked = slaves["Captive deaths during crossing"]
plt.scatter(range(len(embarked)), embarked)
plt.show()

In [ ]:
duration = slaves["Duration of captives' crossing (in days)"]
plt.scatter(range(len(duration)), duration)
plt.show()

In [ ]:
# Stelle wichtige Korrelationen numerisch dar (corr)

In [ ]:
slaves_num = slaves.loc[:, ~slaves.columns.isin(['Voyage ID', 'Vessel name'])]
print(slaves_num.corr(numeric_only = True))

In [ ]:
## allerdings: keine wichtigen korrelationen...

In [ ]:
# Stelle Korrelationen graphisch dar (seaborn)

In [ ]:
sns.set_theme()

In [ ]:
sns.relplot(
    data=slaves,
    x="Duration of captives' crossing (in days)", y="Captive deaths during crossing"
)

In [ ]:
p = sns.PairGrid(slaves)
p.map(sns.scatterplot)

In [ ]:
# Gucke dir mean, variance etc an (statistische eigenschaften) für gewählte Kolumnen

In [ ]:
## mean

In [ ]:
print(slaves.mean(numeric_only = True))

In [ ]:
## median

In [ ]:
print(slaves.median(numeric_only = True))

In [ ]:
## varianz (-> streuung)

In [ ]:
print(slaves["Total embarked"].var())

In [ ]:
print(slaves["Total disembarked"].var())

In [ ]:
print(slaves["Captive deaths during crossing"].var())

In [ ]:
print(slaves.describe())

# Chapter 6: Spacy

In [ ]:
nlp = spacy.load("en_core_web_lg")

In [ ]:
doc = nlp("Something something something. Another sentence.")

In [ ]:
type(doc)

In [ ]:
doc.text

In [ ]:
doc.sents

In [ ]:
for sentence in doc.sents:
    print(sentence)
    print("##")

In [ ]:
for token in doc:
    print(token)
    print(type(token.text))
    print(token.text)

In [ ]:
for sentence in doc.sents:
    print("<s>")
    for token in sentence:
        print(token.text, token.pos_)
    print("</s>")

In [ ]:
nlp.pipe_names

In [ ]:
doc1 = nlp("Long before the Internet, attempts to connect the eastern and western hemispheres through a wired telegraph network reshaped the global landscape. Telegraphy grew out of scientific advances in the first three decades of the nineteenth century—especially the discovery of electromagnetism and the development of the electrical battery. By 1840, several researchers had begun to harness these discoveries for long-distance rapid communication. At the time, few realized that these discoveries would have profound consequences that would reshape social, economic, and political relationships. In the United States, Samuel F.B. Morse successfully lobbied Congress to allocate $30,000 for a demonstration telegraph line between Washington and Baltimore. This line began operation in May 1844. Morse, like nearly all Americans of his day, thought that the Constitution granted the U.S. Post Office a monopoly on the mail, and, by extension, telegraphic communication. Congress, however, refused to buy his patent, and the telegraph’s future development fell to the private sector. However, in every other country, the telegraph remained an arm of national government (Great Britain would nationalize its inland telegraphs in 1870 as well). Thus, the American communications industry followed a very different development path than in other advanced countries. During the 1850s, British and American entrepreneurs and engineers sought to link the continents telegraphically. Two solutions existed—a long overland line to California and through Alaska to Asiatic Russia (via a short cable in the Bering Sea), or a submarine cable in the Atlantic Ocean. The former route fit America’s commercial and imperial ambitions well. Backers of the Pacific overland route thought that it would bring Russia, China, and Japan firmly into the American commercial orbit. The latter project—which would see failed cable-laying attempts in 1857, 1858 and 1865—fit into Britain’s imperial ambitions. Britain, after all, came to depend on an extensive network of submarine telegraph cables to administer its global empire. Both projects were developed simultaneously. In the United States, Western Union built a line to the Pacific Coast in 1861 and began extending it northward into Canada and Alaska (then yet a Russian possession). At the same time, the Atlantic cable backers marshaled their resources and succeeded in laying two working cables between Ireland and Newfoundland in 1866. Afterward, Western Union halted construction of its Russian overland extension. The success of the Atlantic cable and abandonment of the overland Pacific route had several consequences. Commercially, the Atlantic cable placed American and European markets (in securities, cotton, and other commodities) in close coordination. Although American imperial and commercial ambitions in the Pacific did not disappear—consider the conquest of Hawaii and the Philippines in 1898—the American and European economies became more closely intertwined. Strategically, the abandonment of the American effort to span the continents left Great Britain as the dominant player in global telecommunications. The U.S. Navy, for example, depended on British telegraph cables to communicate with its ships stationed in Asia during the Spanish-American War. And British control over global communications was an important factor in its defeat of Germany in World War I. Diplomatically, the Atlantic cable tied the United States and Great Britain closer together, strengthening their so-called “special relationship.” Consider the counterfactual—and very plausible—case of the failure of the Atlantic cable expedition of 1866 and the completion of Western Union’s overland route through Russian America and Siberia. This might have strengthened Russian-American relations, given Russia a larger presence in its far eastern regions, and led to a very different history of the Pacific rim. At least three conclusions emerge from this history. First, the fostering of pure scientific research—not merely product-oriented R&D—should be an important element of national policy. The early electrical telegraph arose out of basic scientific discoveries in electromagnetism and electrochemistry. The construction and operation of long submarine cables, in fact, relied on highly complex developments in theoretical physics, as well as in electrical and marine engineering. Pure scientific research remains the only way to generate new and unanticipated technological applications. Second, national security and foreign policy objectives are often firmly intertwined with commercial interests. The American project of connecting the continents via overland telegraph was also an attempt to open and then dominate the untapped markets of China and Japan. In other words, strategy followed commerce. Finally, domestic political context is important in shaping and limiting strategic objectives. During the nineteenth and early twentieth centuries, the United States was the only developed nation with a privately-owned telecommunications system. This left the United States at a disadvantage during World War I, when the submarine cable network and early wireless were key war-fighting technologies. And it left the United States poorly prepared to wage a propaganda war of words with the Axis via shortwave broadcasting during World War II. All of this suggests that emerging communications technologies—whether wired telegraphy or wireless of the nineteenth and twentieth centuries, or today’s global network of mobile phones and social media—will almost certainly have broader political and strategic effects. While it is impossible to predict these effects with precision, the forecasting of multiple possible scenarios will remain an effective tool of strategic decision-making.")

In [ ]:
doc2 = nlp("Long before the Internet, attempts to connect the eastern and western hemispheres through a wired telegraph network reshaped the global landscape. Telegraphy grew out of scientific advances in the first three decades of the nineteenth century—especially the discovery of electromagnetism and the development of the electrical battery.")

In [ ]:
for token in doc2:
    print(token.i, token.text)

In [ ]:
doc2.sents

In [ ]:
for sentence in doc2.sents:
    print("<s>")
    for token in sentence:
        print(token.text, token.tag_, token.dep_)
    print("</s>")

In [ ]:
displacy.render(doc2, style="dep")

In [ ]:
for ent in doc1.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label)
    displacy.render(doc1, style="ent")

In [ ]:
print(doc, "<->", doc2, doc.similarity(doc2))

# Chapter 7

In [ ]:
# image classification

In [13]:
classifier = pipeline("image-classification", model ="Visual-Attention-Network/van-large")

/home/kilianoed/miniconda3/envs/python-test/lib/python3.9/site-packages/transformers/models/convnext/feature_extraction_convnext.py:28: FutureWarning: The class ConvNextFeatureExtractor is deprecated and will be removed in version 5 of Transformers. Please use ConvNextImageProcessor instead.
  warnings.warn(

In [14]:
classifier("https://3.bp.blogspot.com/-caR6sKagKzA/Te7hB9reUiI/AAAAAAAAGyo/m-H6wz5yNEQ/s1600/overstockart_2162_1288556702.gif.jpg")

[{'score': 0.5242367386817932,
  'label': 'promontory, headland, head, foreland'},
 {'score': 0.11242906749248505, 'label': 'cliff, drop, drop-off'},
 {'score': 0.05939502269029617, 'label': 'megalith, megalithic structure'},
 {'score': 0.033371392637491226, 'label': 'hammerhead, hammerhead shark'},
 {'score': 0.02187434211373329,
  'label': 'seashore, coast, seacoast, sea-coast'}]

In [15]:
classifier("https://fabulousmasterpieces-blog.co.uk/wp-content/uploads/Monet_Replica.jpg")

[{'score': 0.5637372732162476,
  'label': 'worm fence, snake fence, snake-rail fence, Virginia fence'},
 {'score': 0.05528544262051582, 'label': 'lakeside, lakeshore'},
 {'score': 0.035035640001297, 'label': 'park bench'},
 {'score': 0.032420504838228226, 'label': 'maze, labyrinth'},
 {'score': 0.022883251309394836, 'label': 'greenhouse, nursery, glasshouse'}]

In [16]:
classifier("https://www.sueddeutsche.de/image/sz.1.5561463?v=1679581803&format=webp")

[{'score': 0.27126336097717285, 'label': 'unicycle, monocycle'},
 {'score': 0.14031808078289032, 'label': 'parachute, chute'},
 {'score': 0.0459689237177372, 'label': 'flagpole, flagstaff'},
 {'score': 0.03839997574687004, 'label': 'picket fence, paling'},
 {'score': 0.031778234988451004, 'label': 'parking meter'}]

In [17]:
classifier("https://4.bp.blogspot.com/-M9aL6JMpFDM/UjCVN7E4EnI/AAAAAAAAYY4/zbuZTLmmy8c/s1600/Duckling+Wallpapers+%25283%2529.jpg")

[{'score': 0.4268086850643158, 'label': 'goose'},
 {'score': 0.33641964197158813, 'label': 'drake'},
 {'score': 0.009772682562470436,
  'label': 'American coot, marsh hen, mud hen, water hen, Fulica americana'},
 {'score': 0.008097712881863117,
  'label': 'red-breasted merganser, Mergus serrator'},
 {'score': 0.004760740790516138, 'label': 'black swan, Cygnus atratus'}]

In [18]:
# object detection

In [19]:
detection = pipeline("object-detection", model ="hustvl/yolos-base")

/home/kilianoed/miniconda3/envs/python-test/lib/python3.9/site-packages/transformers/models/yolos/feature_extraction_yolos.py:28: FutureWarning: The class YolosFeatureExtractor is deprecated and will be removed in version 5 of Transformers. Please use YolosImageProcessor instead.
  warnings.warn(
/home/kilianoed/miniconda3/envs/python-test/lib/python3.9/site-packages/transformers/models/yolos/image_processing_yolos.py:704: FutureWarning: The `max_size` parameter is deprecated and will be removed in v4.26. Please specify in `size['longest_edge'] instead`.
  warnings.warn(

In [53]:
img3 = "https://raw.githubusercontent.com/kilianoed/pythontest/main/busy_street.jpg"
detection_img3 = detection(img3)
pprint.pprint(detection_img3)

[{'box': {'xmax': 1506, 'xmin': 1421, 'ymax': 1627, 'ymin': 1455},
  'label': 'traffic light',
  'score': 0.9966005682945251},
 {'box': {'xmax': 1319, 'xmin': 1156, 'ymax': 2504, 'ymin': 2310},
  'label': 'handbag',
  'score': 0.9246420860290527},
 {'box': {'xmax': 980, 'xmin': 839, 'ymax': 2566, 'ymin': 2177},
  'label': 'person',
  'score': 0.9010961651802063},
 {'box': {'xmax': 2801, 'xmin': 2490, 'ymax': 3083, 'ymin': 2139},
  'label': 'person',
  'score': 0.9997236132621765},
 {'box': {'xmax': 5945, 'xmin': 5794, 'ymax': 1199, 'ymin': 903},
  'label': 'traffic light',
  'score': 0.9572719931602478},
 {'box': {'xmax': 1501, 'xmin': 1361, 'ymax': 2538, 'ymin': 2166},
  'label': 'person',
  'score': 0.9477003812789917},
 {'box': {'xmax': 4013, 'xmin': 3884, 'ymax': 2392, 'ymin': 2105},
  'label': 'person',
  'score': 0.905975341796875},
 {'box': {'xmax': 3858, 'xmin': 3731, 'ymax': 2409, 'ymin': 2062},
  'label': 'person',
  'score': 0.973605215549469},
 {'box': {'xmax': 5705, 'xmin': 5524, 'ymax': 2492, 'ymin': 2170},
  'label': 'handbag',
  'score': 0.9890050292015076},
 {'box': {'xmax': 5294, 'xmin': 5105, 'ymax': 2623, 'ymin': 2078},
  'label': 'person',
  'score': 0.99603670835495},
 {'box': {'xmax': 2397, 'xmin': 2183, 'ymax': 2329, 'ymin': 2205},
  'label': 'car',
  'score': 0.9836710691452026},
 {'box': {'xmax': 1342, 'xmin': 1066, 'ymax': 2877, 'ymin': 2187},
  'label': 'person',
  'score': 0.9992351531982422},
 {'box': {'xmax': 5675, 'xmin': 5404, 'ymax': 2811, 'ymin': 2071},
  'label': 'person',
  'score': 0.9977377653121948},
 {'box': {'xmax': 1302, 'xmin': 1193, 'ymax': 2049, 'ymin': 1964},
  'label': 'traffic light',
  'score': 0.9809245467185974},
 {'box': {'xmax': 1938, 'xmin': 1724, 'ymax': 2398, 'ymin': 2204},
  'label': 'car',
  'score': 0.9919531941413879},
 {'box': {'xmax': 4199, 'xmin': 4054, 'ymax': 2387, 'ymin': 2064},
  'label': 'person',
  'score': 0.9615316390991211},
 {'box': {'xmax': 2148, 'xmin': 1992, 'ymax': 2357, 'ymin': 2241},
  'label': 'car',
  'score': 0.9251036047935486},
 {'box': {'xmax': 2893, 'xmin': 2689, 'ymax': 1686, 'ymin': 1384},
  'label': 'traffic light',
  'score': 0.9924659729003906},
 {'box': {'xmax': 4272, 'xmin': 4173, 'ymax': 2385, 'ymin': 2086},
  'label': 'person',
  'score': 0.9594272375106812},
 {'box': {'xmax': 2660, 'xmin': 2340, 'ymax': 1715, 'ymin': 1430},
  'label': 'traffic light',
  'score': 0.9961036443710327},
 {'box': {'xmax': 5093, 'xmin': 4868, 'ymax': 2640, 'ymin': 2029},
  'label': 'person',
  'score': 0.996479332447052},
 {'box': {'xmax': 2256, 'xmin': 2066, 'ymax': 2351, 'ymin': 2233},
  'label': 'car',
  'score': 0.9338049292564392},
 {'box': {'xmax': 1515, 'xmin': 1334, 'ymax': 2966, 'ymin': 2578},
  'label': 'fire hydrant',
  'score': 0.9923275113105774},
 {'box': {'xmax': 1679, 'xmin': 1542, 'ymax': 2523, 'ymin': 2180},
  'label': 'person',
  'score': 0.9473374485969543},
 {'box': {'xmax': 1066, 'xmin': 920, 'ymax': 2561, 'ymin': 2175},
  'label': 'person',
  'score': 0.9591429829597473},
 {'box': {'xmax': 3448, 'xmin': 2174, 'ymax': 2546, 'ymin': 2160},
  'label': 'car',
  'score': 0.9997656941413879}]

In [84]:
pd.DataFrame.from_records(img3,index=None, exclude=None, columns=['xmax', 'xmin', 'ymax', 'ymin'], coerce_float=False, nrows=None)

ValueError: 4 columns passed, passed data had 1 columns